name: Test

on:
 workflow_dispatch:

jobs:
  Create:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: 'google-github-actions/auth@v3'
        with:
              service_account: 'my-service-account@forward-garden-444210-d7.iam.gserviceaccount.com' 
              workload_identity_provider: 'projects/341213114487/locations/global/workloadIdentityPools/githubactions/providers/my-repo'
