name: Test

on:
 workflow_dispatch:

jobs:
  Create:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
        - id: 'auth'
        - name: 'Authenticate to Google Cloud'
          uses: 'google-github-actions/auth@v1'
          with:
              create_credentials_file: true
              workload_identity_provider: 'projects/341213114487/locations/global/workloadIdentityPools/actionscheck/providers/actionscheck'

        - name: list gcs buckets
          run: gcloud storage buckets list


         
